**Basic**

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    'name':['abhay','rohan','siddhant','bhavesh'],
    'marks':[12,34,54,43],
    'city':['wakadi','rahata','kakdi','loni']

}

In [3]:
df = pd.DataFrame(dict1) #convert data into excel sheet or csv

In [4]:
df

       name  marks    city
0     abhay     12  wakadi
1     rohan     34  rahata
2  siddhant     54   kakdi
3   bhavesh     43    loni

In [5]:
df.to_csv('friends.csv') #to create .csv file

In [6]:
df.to_csv('friends_index_false.csv', index=False)

In [7]:
df.head(2)

    name  marks    city
0  abhay     12  wakadi
1  rohan     34  rahata

In [8]:
df.tail(2)

       name  marks   city
2  siddhant     54  kakdi
3   bhavesh     43   loni

In [9]:
df.describe() #statistical analysis

           marks
count   4.000000
mean   35.750000
std    17.820868
min    12.000000
25%    28.500000
50%    38.500000
75%    45.750000
max    54.000000

In [10]:
dict2 = {
    'Train_No':[12322,43234,545643,23232],
    'speed':[43,341,64,83],
    'city':['wakadi','rahata','kakdi','loni']
}

In [11]:
df1 = pd.DataFrame(dict2)

In [12]:
df1

   Train_No  speed    city
0     12322     43  wakadi
1     43234    341  rahata
2    545643     64   kakdi
3     23232     83    loni

In [13]:
df1.to_csv('railways.csv', index=False)

In [14]:
coe = pd.read_csv('railways.csv')

In [15]:
coe

   Train_No  speed    city
0     12322     43  wakadi
1     43234    341  rahata
2    545643     64   kakdi
3     23232     83    loni

In [16]:
coe['speed']

0     43
1    341
2     64
3     83
Name: speed, dtype: int64

In [17]:
coe['speed'][0]

43

In [18]:
coe['speed'][0] = 50

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
coe

   Train_No  speed    city
0     12322     50  wakadi
1     43234    341  rahata
2    545643     64   kakdi
3     23232     83    loni

In [20]:
coe.to_csv('clg.csv',index=False)

In [21]:
comp = pd.read_csv('clg.csv')

In [22]:
comp

   Train_No  speed    city
0     12322     50  wakadi
1     43234    341  rahata
2    545643     64   kakdi
3     23232     83    loni

In [23]:
comp.index = ['first','second','third','fourth'] #change the index value

In [24]:
comp

        Train_No  speed    city
first      12322     50  wakadi
second     43234    341  rahata
third     545643     64   kakdi
fourth     23232     83    loni

In [25]:
type('speed')

str

In [26]:
type(comp)

pandas.core.frame.DataFrame

**In-Depth**



1.   Pandas is an open source data analysis library written in python
2.   It leverage the power and speed of numpy to make data analysis and preprocessing easy for data scientists

3.   It provides rich and highly robust data operations



*   Pandas has two type of data structures:

  1.   **Series** - It's one dimensional array with indexes, it stores a single column or row of data in a Dataframe
  2.   **Dataframe** - It's a tabular spreadsheet like structure representing rows each of which contains one or multiple columns


*   A one-dimensional array(labeled) capable of holding any type of data-series

*   A two-dimensional data(labeled) structure with columns of potentially different type of data - DataFrame

In [27]:
ser = pd.Series(np.random.rand(15))

In [28]:
ser

0     0.812694
1     0.079010
2     0.264969
3     0.793285
4     0.073067
5     0.927995
6     0.227839
7     0.506294
8     0.919899
9     0.286186
10    0.801988
11    0.275970
12    0.046743
13    0.794532
14    0.052697
dtype: float64

In [29]:
type(ser)

pandas.core.series.Series

In [30]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [31]:
newdf.head()

          0         1         2         3         4
0  0.184629  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [32]:
type(newdf)

pandas.core.frame.DataFrame

In [33]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.485271    0.504793    0.511105    0.498460    0.496315
std      0.297264    0.284371    0.280792    0.294873    0.291338
min      0.000421    0.001315    0.003731    0.000360    0.000077
25%      0.227391    0.276386    0.290671    0.242746    0.236995
50%      0.456251    0.506057    0.510946    0.492781    0.497111
75%      0.737263    0.752749    0.753681    0.763474    0.759691
max      0.999973    0.999031    0.999154    0.997550    0.998999

In [34]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [35]:
newdf.head()

          0         1         2         3         4
0  0.184629  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [36]:
newdf[0][0] = "coe"

In [37]:
newdf.head()

          0         1         2         3         4
0       coe  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [38]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [39]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [40]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [41]:
newdf.to_numpy()

array([['coe', 0.6093693737979605, 0.2813218453746418,
        0.013484661879556659, 0.34730889186323843],
       [0.7978740046763386, 0.06966888514391878, 0.3187192746167087,
        0.7032886758272511, 0.15589026886957058],
       [0.8509448706154985, 0.48157085733754945, 0.32024375319260057,
        0.055796962822513785, 0.4690258133092936],
       ...,
       [0.895473874086422, 0.2231517584243814, 0.59775887737247,
        0.6774276042489035, 0.9774391160527798],
       [0.6548660818007102, 0.5281627060175907, 0.6278161263055747,
        0.32948445239556556, 0.20302763222371167],
       [0.9688844234184533, 0.7373983254213686, 0.39513928296336653,
        0.8595038656919138, 0.005429138794463273]], dtype=object)

In [42]:
newdf[0][0] = 0.3

In [43]:
newdf.head()

          0         1         2         3         4
0       0.3  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [44]:
newdf.to_numpy()

array([[0.3, 0.6093693737979605, 0.2813218453746418,
        0.013484661879556659, 0.34730889186323843],
       [0.7978740046763386, 0.06966888514391878, 0.3187192746167087,
        0.7032886758272511, 0.15589026886957058],
       [0.8509448706154985, 0.48157085733754945, 0.32024375319260057,
        0.055796962822513785, 0.4690258133092936],
       ...,
       [0.895473874086422, 0.2231517584243814, 0.59775887737247,
        0.6774276042489035, 0.9774391160527798],
       [0.6548660818007102, 0.5281627060175907, 0.6278161263055747,
        0.32948445239556556, 0.20302763222371167],
       [0.9688844234184533, 0.7373983254213686, 0.39513928296336653,
        0.8595038656919138, 0.005429138794463273]], dtype=object)

In [45]:
newdf.T #transpose

        0         1         2    ...       331       332       333
0       0.3  0.797874  0.850945  ...  0.895474  0.654866  0.968884
1  0.609369  0.069669  0.481571  ...  0.223152  0.528163  0.737398
2  0.281322  0.318719  0.320244  ...  0.597759  0.627816  0.395139
3  0.013485  0.703289  0.055797  ...  0.677428  0.329484  0.859504
4  0.347309   0.15589  0.469026  ...  0.977439  0.203028  0.005429

[5 rows x 334 columns]

In [46]:
newdf.head()

          0         1         2         3         4
0       0.3  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [47]:
#sort
newdf.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.347309  0.013485  0.281322  0.609369       0.3
1    0.155890  0.703289  0.318719  0.069669  0.797874
2    0.469026  0.055797  0.320244  0.481571  0.850945
3    0.618552  0.987802  0.674584  0.872570  0.448038
4    0.809412  0.736812  0.527077  0.675395  0.284083
..        ...       ...       ...       ...       ...
329  0.370232  0.368638  0.288277  0.453359  0.873665
330  0.183286  0.432326  0.224987  0.862276  0.995559
331  0.977439  0.677428  0.597759  0.223152  0.895474
332  0.203028  0.329484  0.627816  0.528163  0.654866
333  0.005429  0.859504  0.395139  0.737398  0.968884

[334 rows x 5 columns]

In [48]:
newdf.head()

          0         1         2         3         4
0       0.3  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [49]:
newdf[0]

0           0.3
1      0.797874
2      0.850945
3      0.448038
4      0.284083
         ...
329    0.873665
330    0.995559
331    0.895474
332    0.654866
333    0.968884
Name: 0, Length: 334, dtype: object

In [50]:
type(newdf[0])

pandas.core.series.Series

In [51]:
newdf.head()

          0         1         2         3         4
0       0.3  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [52]:
#create a view
newdf2 = newdf

In [53]:
newdf2[0][0] = 5678

In [54]:
newdf

            0         1         2         3         4
0        5678  0.609369  0.281322  0.013485  0.347309
1    0.797874  0.069669  0.318719  0.703289  0.155890
2    0.850945  0.481571  0.320244  0.055797  0.469026
3    0.448038  0.872570  0.674584  0.987802  0.618552
4    0.284083  0.675395  0.527077  0.736812  0.809412
..        ...       ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638  0.370232
330  0.995559  0.862276  0.224987  0.432326  0.183286
331  0.895474  0.223152  0.597759  0.677428  0.977439
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[334 rows x 5 columns]

In [55]:
#copy
newdf2 = newdf.copy()

In [56]:
newdf2[0][0] = 43546

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
newdf2

            0         1         2         3         4
0       43546  0.609369  0.281322  0.013485  0.347309
1    0.797874  0.069669  0.318719  0.703289  0.155890
2    0.850945  0.481571  0.320244  0.055797  0.469026
3    0.448038  0.872570  0.674584  0.987802  0.618552
4    0.284083  0.675395  0.527077  0.736812  0.809412
..        ...       ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638  0.370232
330  0.995559  0.862276  0.224987  0.432326  0.183286
331  0.895474  0.223152  0.597759  0.677428  0.977439
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[334 rows x 5 columns]

In [58]:
newdf.loc[0,0] = 435 #.loc = Access a group of rows and columns by label(s) or a boolean array.

In [59]:
newdf.head(2)

          0         1         2         3         4
0       435  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890

In [60]:
newdf.columns = list("PQRSA")

In [61]:
newdf.head(2)

          P         Q         R         S         A
0       435  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890

In [62]:
newdf.loc[0,'P'] = 987

In [63]:
newdf.head(2)

          P         Q         R         S         A
0       987  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890

In [64]:
newdf.loc[0,0] = 43

In [65]:
newdf.head(3)

          P         Q         R         S         A     0
0       987  0.609369  0.281322  0.013485  0.347309  43.0
1  0.797874  0.069669  0.318719  0.703289  0.155890   NaN
2  0.850945  0.481571  0.320244  0.055797  0.469026   NaN

In [66]:
newdf = newdf.drop(0,axis=1) #axis=1 -> columns and axis=0 -> rows

In [67]:
newdf.head(5)

          P         Q         R         S         A
0       987  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [68]:
newdf.loc[[1,2],["R","A"]]

          R         A
1  0.318719  0.155890
2  0.320244  0.469026

In [69]:
newdf.loc[[1,2],:]

          P         Q         R         S         A
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026

In [70]:
newdf.loc[:,["R","A"]]

            R         A
0    0.281322  0.347309
1    0.318719  0.155890
2    0.320244  0.469026
3    0.674584  0.618552
4    0.527077  0.809412
..        ...       ...
329  0.288277  0.370232
330  0.224987  0.183286
331  0.597759  0.977439
332  0.627816  0.203028
333  0.395139  0.005429

[334 rows x 2 columns]

In [71]:
newdf.loc[(newdf["A"]<0.3)]

            P         Q         R         S         A
1    0.797874  0.069669  0.318719  0.703289  0.155890
12   0.463247  0.894644  0.144983  0.027240  0.012030
13   0.289592  0.090686  0.474706  0.769167  0.253941
17   0.395397  0.978517  0.195423  0.397806  0.271408
18    0.17107  0.939176  0.822976  0.533993  0.095317
..        ...       ...       ...       ...       ...
321  0.200145  0.111113  0.880912  0.767482  0.019885
322   0.99635  0.997296  0.036002  0.001955  0.144357
330  0.995559  0.862276  0.224987  0.432326  0.183286
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[104 rows x 5 columns]

In [72]:
newdf.head()

          P         Q         R         S         A
0       987  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552
4  0.284083  0.675395  0.527077  0.736812  0.809412

In [73]:
newdf.loc[(newdf["A"]<0.3) & (newdf["R"]>0.1)]

            P         Q         R         S         A
1    0.797874  0.069669  0.318719  0.703289  0.155890
12   0.463247  0.894644  0.144983  0.027240  0.012030
13   0.289592  0.090686  0.474706  0.769167  0.253941
17   0.395397  0.978517  0.195423  0.397806  0.271408
18    0.17107  0.939176  0.822976  0.533993  0.095317
..        ...       ...       ...       ...       ...
320  0.096807  0.535160  0.427091  0.407843  0.152640
321  0.200145  0.111113  0.880912  0.767482  0.019885
330  0.995559  0.862276  0.224987  0.432326  0.183286
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[94 rows x 5 columns]

In [74]:
newdf.head(4)

          P         Q         R         S         A
0       987  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026
3  0.448038  0.872570  0.674584  0.987802  0.618552

In [75]:
newdf.iloc[0,4] #.iloc = Purely integer-location based indexing for selection by position.

0.34730889186323843

In [76]:
newdf.iloc[[0,1],[1,3]]

          Q         S
0  0.609369  0.013485
1  0.069669  0.703289

In [77]:
newdf.head(3)

          P         Q         R         S         A
0       987  0.609369  0.281322  0.013485  0.347309
1  0.797874  0.069669  0.318719  0.703289  0.155890
2  0.850945  0.481571  0.320244  0.055797  0.469026

In [78]:
newdf.drop([0])

            P         Q         R         S         A
1    0.797874  0.069669  0.318719  0.703289  0.155890
2    0.850945  0.481571  0.320244  0.055797  0.469026
3    0.448038  0.872570  0.674584  0.987802  0.618552
4    0.284083  0.675395  0.527077  0.736812  0.809412
5    0.226907  0.055360  0.821017  0.237444  0.356697
..        ...       ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638  0.370232
330  0.995559  0.862276  0.224987  0.432326  0.183286
331  0.895474  0.223152  0.597759  0.677428  0.977439
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[333 rows x 5 columns]

In [79]:
newdf.drop(['A'], axis=1)

            P         Q         R         S
0         987  0.609369  0.281322  0.013485
1    0.797874  0.069669  0.318719  0.703289
2    0.850945  0.481571  0.320244  0.055797
3    0.448038  0.872570  0.674584  0.987802
4    0.284083  0.675395  0.527077  0.736812
..        ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638
330  0.995559  0.862276  0.224987  0.432326
331  0.895474  0.223152  0.597759  0.677428
332  0.654866  0.528163  0.627816  0.329484
333  0.968884  0.737398  0.395139  0.859504

[334 rows x 4 columns]

In [80]:
newdf

            P         Q         R         S         A
0         987  0.609369  0.281322  0.013485  0.347309
1    0.797874  0.069669  0.318719  0.703289  0.155890
2    0.850945  0.481571  0.320244  0.055797  0.469026
3    0.448038  0.872570  0.674584  0.987802  0.618552
4    0.284083  0.675395  0.527077  0.736812  0.809412
..        ...       ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638  0.370232
330  0.995559  0.862276  0.224987  0.432326  0.183286
331  0.895474  0.223152  0.597759  0.677428  0.977439
332  0.654866  0.528163  0.627816  0.329484  0.203028
333  0.968884  0.737398  0.395139  0.859504  0.005429

[334 rows x 5 columns]

In [81]:
newdf.drop(['A'], axis=1, inplace=True)

In [82]:
newdf

            P         Q         R         S
0         987  0.609369  0.281322  0.013485
1    0.797874  0.069669  0.318719  0.703289
2    0.850945  0.481571  0.320244  0.055797
3    0.448038  0.872570  0.674584  0.987802
4    0.284083  0.675395  0.527077  0.736812
..        ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638
330  0.995559  0.862276  0.224987  0.432326
331  0.895474  0.223152  0.597759  0.677428
332  0.654866  0.528163  0.627816  0.329484
333  0.968884  0.737398  0.395139  0.859504

[334 rows x 4 columns]

In [83]:
newdf.drop([0], axis=0, inplace=True)

In [84]:
newdf

            P         Q         R         S
1    0.797874  0.069669  0.318719  0.703289
2    0.850945  0.481571  0.320244  0.055797
3    0.448038  0.872570  0.674584  0.987802
4    0.284083  0.675395  0.527077  0.736812
5    0.226907  0.055360  0.821017  0.237444
..        ...       ...       ...       ...
329  0.873665  0.453359  0.288277  0.368638
330  0.995559  0.862276  0.224987  0.432326
331  0.895474  0.223152  0.597759  0.677428
332  0.654866  0.528163  0.627816  0.329484
333  0.968884  0.737398  0.395139  0.859504

[333 rows x 4 columns]

In [85]:
newdf.reset_index(drop=True,inplace=True) #inplace: a boolean value. If True, the source DataFrame is changed and None is returned.

In [86]:
newdf.head(3)

          P         Q         R         S
0  0.797874  0.069669  0.318719  0.703289
1  0.850945  0.481571  0.320244  0.055797
2  0.448038  0.872570  0.674584  0.987802

In [87]:
newdf["Q"].isnull() #DataFrame.isnull is an alias for DataFrame.isna.

#Detect missing values.

0      False
1      False
2      False
3      False
4      False
       ...
328    False
329    False
330    False
331    False
332    False
Name: Q, Length: 333, dtype: bool

In [88]:
newdf.loc[:,['Q']] = 34

In [89]:
newdf

            P   Q         R         S
0    0.797874  34  0.318719  0.703289
1    0.850945  34  0.320244  0.055797
2    0.448038  34  0.674584  0.987802
3    0.284083  34  0.527077  0.736812
4    0.226907  34  0.821017  0.237444
..        ...  ..       ...       ...
328  0.873665  34  0.288277  0.368638
329  0.995559  34  0.224987  0.432326
330  0.895474  34  0.597759  0.677428
331  0.654866  34  0.627816  0.329484
332  0.968884  34  0.395139  0.859504

[333 rows x 4 columns]

In [90]:
newdf['Q'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
328    False
329    False
330    False
331    False
332    False
Name: Q, Length: 333, dtype: bool

In [91]:
newdf.head(5)

          P   Q         R         S
0  0.797874  34  0.318719  0.703289
1  0.850945  34  0.320244  0.055797
2  0.448038  34  0.674584  0.987802
3  0.284083  34  0.527077  0.736812
4  0.226907  34  0.821017  0.237444

In [92]:
df = pd.DataFrame({
    'name':['Alfred','Batman','Alfred'],
    'toy':[np.nan,np.nan,np.nan],
    'born':[pd.NaT,pd.Timestamp('1940-04-25'),pd.NaT]
})

In [93]:
df

     name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT

In [94]:
df.dropna(how='all',axis=1) #Remove missing values.

     name       born
0  Alfred        NaT
1  Batman 1940-04-25
2  Alfred        NaT

In [95]:
df.head() #Return the first n rows.

     name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT

In [96]:
df.drop_duplicates(subset=['name'],keep='first')

     name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25

In [97]:
df.drop_duplicates(subset=['name'],keep='last')

     name  toy       born
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT

In [98]:
df.drop_duplicates(subset=['name'],keep=False) #Return DataFrame with duplicate rows removed.

     name  toy       born
1  Batman  NaN 1940-04-25

In [99]:
df.shape #Return a tuple representing the dimensionality of the DataFrame.

(3, 3)

In [100]:
df.info #Print a concise summary of a DataFrame.

<bound method DataFrame.info of      name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT>

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   toy     0 non-null      float64
 2   born    1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 200.0+ bytes

In [102]:
df['toy'].value_counts(dropna=False)

NaN    3
Name: toy, dtype: int64

In [103]:
df['name'].value_counts(dropna=False) #dropna - Don’t include counts of NaN.

Alfred    2
Batman    1
Name: name, dtype: int64

In [104]:
df['toy'].value_counts(dropna=True) #Return a Series containing counts of unique values.

Series([], Name: toy, dtype: int64)

In [105]:
df.notnull() #Detect non-missing values for an array-like object.

   name    toy   born
0  True  False  False
1  True  False   True
2  True  False  False

In [106]:
df.isnull() #Detect missing values for an array-like object.

    name   toy   born
0  False  True   True
1  False  True  False
2  False  True   True